@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,500;1,500&display=swap');

html, body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    font-family: "Montserrat", serif; /* Apply the font to all text */
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    background-color: #efefef;
    padding: 20px;
}

#mainView {
    max-height: 90vh;
    overflow-y: auto;
}

#menuTopBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#clapButton {
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    position: relative;
    user-select: none;
}

.clap {
    position: absolute;
    font-size: 2rem;
    animation: floatUp 1s ease-out forwards;
    user-select: none;
}

@keyframes floatUp {
    0% {
        transform: translate(0, 0);
        opacity: 1;
    }
    100% {
        transform: translate(var(--random-x, 0px), var(--random-y, -100px));
        opacity: 0;
    }
}

#muteButton {
    width: 30px;
    height: 30px;
}

.form {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
    margin-top: 20px;
}

.form input {
    width: 100%;
    padding: 10px;
    font-size: 16px;
}

@media (max-width: 600px) {
    .form {
        flex-direction: column;
    }
}

.icon {
    width: 20px;
    height: 20px;
    cursor: pointer;
    margin: 0 5px;
    transition: transform 0.2s ease;
}

.icon:hover {
    transform: scale(1.2);
}

.button {
    padding: 10px;
    font-size: 16px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#presentersTable {
    table-layout: fixed;
    overflow-x: auto;
    display: block;
    border: none;
    max-width: 100%;
    font-size: 16px;
}

#presentersTable th, #presentersTable td {
    white-space: normal;
    text-align: center;
    overflow: hidden;
    border: none;
    padding: 10px;
}

#presentersTable th:nth-child(1), 
#presentersTable td:nth-child(1) {
    width: 5%;
    min-width: 30px;
}

#presentersTable th:nth-child(2), 
#presentersTable td:nth-child(2) {
    width: 55%;
    white-space: normal;
    word-break: break-word;
}

#presentersTable th:nth-child(3), 
#presentersTable td:nth-child(3) {
    width: 20%;
}

#presentersTable th:nth-child(4), 
#presentersTable td:nth-child(4) {
    width: 80%;
    text-align: center;
}

#presentersTable th {
    background-color: #d5d5d5;
}

#timerView {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
    z-index: 1000; /* Ensure it's above other elements */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

#timer {
    height: 110px;
    font-size: 100px;
}

.hidden {
    display: none;
}

.visible {
    display: block;
}

.current-presenter {
    background-color: #c8e6c9;
    transition: background-color 0.3s ease;
}

#roleButtons {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}